* {
    font-family: sans-serif; 
  }
  h1 {
      font-weight: bold;
      color: black;
      font-family: sans-serif;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  h3 {
        color: black;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        padding-top: 30px;
        padding-bottom: 20px;
  }
 
    /* Signs Table */


  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.0em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 20vmax;
    width: 60%;
    height: 100vmin;
    text-align: center;
  }
  
  
  .content-table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;   
  }

  .content-table th:nth-of-type(2),
  .content-table td:nth-of-type(2) {
    border-right: 2.5px solid #006098;
  }

  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-weight: bold;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #006098;
  }
  